<Server port="${tomcatInstance.shutdownPort}" shutdown="SHUTDOWN">
  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container" type="org.apache.catalina.UserDatabase" 
				description="User database that can be updated and saved" 
				factory="org.apache.catalina.users.MemoryUserDatabaseFactory" 
				pathname="[#noparse]${catalina.home}[/#noparse]/${tomcatInstanceDirname}/${tomcatInstanceName}/conf/tomcat-users.xml" />
  </GlobalNamingResources>
  <Service name="Catalina">
    <Connector port="${tomcatInstance.httpPort}" protocol="HTTP/1.1" connectionTimeout="20000" />
    <Engine name="Catalina" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase" />
      <Host name="localhost" appBase="[#noparse]${catalina.home}[/#noparse]/${tomcatInstanceDirname}/${tomcatInstanceName}/webapps" unpackWARs="true" autoDeploy="true" xmlValidation="false" xmlNamespaceAware="false">
        <Alias>${tomcatHostIPAddress}</Alias>
        <Context path="/manager" debug="0" privileged="true" docBase="[#noparse]${catalina.home}[/#noparse]/webapps/manager" />
      </Host>
    </Engine>
  </Service>
</Server>
