<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-5level [%20.20logger:%-4line] - %msg%n</pattern>
		</layout>
	</appender>

	<logger name="deng.myspringmvc">
		<level value="debug" />
	</logger>
	<logger name="org.springframework">
		<level value="info" />
	</logger>

	<root>
		<level value="error" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>